# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/app/generated/prisma

.vercel

.vercel
.env*

# turbo daemon logs
.turbo/

# Google service-account credentials
sviet-*.json
*-service-account*.json

# assets
# Ignoring videos folder for now to send assets in two halves
/public/assets/img/
# /public/assets/videos/

# zip files
*.zip
sviet-media.zip
